<div id="background-all">
    <div class="masthead2">
        <div class="overlay2">
            <div id="particles-js"> </div>
        </div>
        <app-header></app-header>

        <div class="container headerText text-left">

            <div class="row">

                <div class="col-xl-9 welcome">
                    <h1 class="text-left text-white">Toda tu música favorita</h1>
                    <br>
                    <p class="text-white h3">Disfruta de la mejor musica disponible</p>
                    <div class="botonInicio">
                        <a class="btn btn-dark btnInicia" href="#formD">Obtén BitFy gratis</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--     <div class="texto-home px-5">
          <h1 id="texto-titulo">Toda tu música favorita</h1>
          <h3>Disfruta de la mejor musica disponible</h3>
          <button type="button"  class="text-white"id="boton-registro">Obtén BitFy gratis </button>
      </div>
  </div> -->