<div class="contenedor">
  <app-aside></app-aside>
    <div class="generos">
        <div class="albumContainer text-center col-md-11 offset-md-1 row">
            <h1 class="col-sm-12">Rock</h1>

            <div class="col-sm-3 album album2">
                <div class="album album1">
                    <button class="btn"><img class="albumImg" src="/assets/img/interfaz/albumes/highway61.jpg"
                            alt=""></button>
                </div>
                <small>album</small>
            </div>

            <div class="col-sm-3">
                <div class="album album1"><button class="btn"><img class="albumImg" src="/assets/img/interfaz/albumes/aftermath.jpg"
                            alt="prueba"></button>
                </div>
                <small>album</small>
            </div>
            <div class="col-sm-3">
                <div class="album album3"><button class="btn"><img class="albumImg" src="/assets/img/interfaz/albumes/whiteAlbum.png"
                            alt="prueba"></button>
                </div>
                <small>album</small>
            </div>
        </div>

        <div class="albumContainer text-center col-md-11 offset-md-1 row">
            <h1 class="col-sm-12 ">Salsa</h1>

            <div class="col-sm-3 album album2">
                <div class="album album1">
                    <button class="btn"><img class="albumImg" src="/assets/img/interfaz/albumes/highway61.jpg"
                            alt=""></button>
                </div>
                <small>album</small>
            </div>

            <div class="col-sm-3">
                <div class="album album1"><button class="btn"><img class="albumImg" src="/assets/img/interfaz/albumes/aftermath.jpg"
                            alt="prueba"></button>
                </div>
                <small>album</small>
            </div>
            <div class="col-sm-3">
                <div class="album album3"><button class="btn"><img class="albumImg" src="/assets/img/interfaz/albumes/whiteAlbum.png"
                            alt="prueba"></button>
                </div>
                <small>album</small>
            </div>
        </div>

        <div class="albumContainer text-center col-md-11 offset-md-1 row">
            <h1 class="col-sm-12 ">Genero 3</h1>

            <div class="col-sm-3 album album2">
                <div class="album album1">
                    <button class="btn"><img class="albumImg" src="/assets/img/interfaz/albumes/highway61.jpg"
                            alt=""></button>
                </div>
                <small>album</small>
            </div>

            <div class="col-sm-3">
                <div class="album album1"><button class="btn"><img class="albumImg" src="/assets/img/interfaz/albumes/aftermath.jpg"
                            alt="prueba"></button>
                </div>
                <small>album</small>
            </div>
            <div class="col-sm-3">
                <div class="album album3"><button class="btn"><img class="albumImg" src="/assets/img/interfaz/albumes/whiteAlbum.png"
                            alt="prueba"></button>
                </div>
                <small>album</small>
            </div>
        </div>
    </div>

</div>

<!-- <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide" style="background-image:url(/assets/imagenes/imagen.jpg)"></div>
                  <div class="swiper-slide" style="background-image:url(/assets/imagenes/imagen.jpg)"></div>
                  <div class="swiper-slide" style="background-image:url(/assets/imagenes/imagen.jpg)"></div>
                  <div class="swiper-slide" style="background-image:url(/assets/imagenes/imagen.jpg)"></div>
                  <div class="swiper-slide" style="background-image:url(/assets/imagenes/imagen.jpg)"></div>

                </div> -->
<!-- Add Pagination -->
<!-- <div class="swiper-pagination"></div>
              </div>  -->