<footer class="py-5">
    <div class="row">
      <div class="col-12 col-md">
        <img src="assets/img/footer/LogoWTrans.png" alt=""  class="mx-auto d-block mb-2" width="105" height="64">
      </div>
      <div class="col-6 col-md">
        <h5>COMPAÑÍA</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text" href="#">Acerca de</a></li>
          <li><a class="text" href="#">Empleo</a></li>
          <li><a class="text" href="#">For The Record</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>COMUNIDADES</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text" href="#">Servicios para artistas</a></li>
          <li><a class="text" href="#">Desarrolladores</a></li>
          <li><a class="text" href="#">Marcas</a></li>
          <li><a class="text" href="#">Inversionistas</a></li>
          <li><a class="text" href="#">Proveedores</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>ENLACES ÚTILES</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text" href="#">Ayuda</a></li>
          <li><a class="text" href="#">Reproductor web</a></li>
          <li><a class="text" href="#">App móvil gratis</a></li>
        </ul>
      </div>
      <div class="col-6 col-md" >
          <a href="#" id="redes"><img src="assets/img/footer/instagram-brands.svg" class="icon-instagram" alt=""></a>
          <a href="#" id="redes"><span class="icon-twitter"></span></a>
          <a href="#" id="redes"><span class="icon-facebook"></span></a>
      </div>
    </div>
    <div class="container" id="c2">
      <p class="float-right"><a href="">colombia</a><img src="assets/img/footer/colombia.png" alt="" width="24px" height="18px" class="laimg"><br>
        <a href="#">&copy; 2020 Bitfy S.A.</a></p>
      <p><a href="#">Legal</a> &middot; <a href="#">Centro de privacidad</a> &middot;
      <a href="#">Cokies</a> &middot; <a href="#">Sobre los anuncios</a> &middot;</p>
    </div>
</footer>
